@charset "UTF-8";





.field{
	display:flex;
	justify-content: space-around | center;
	flex-direction:column;
	align-items:center;

}

h1{
font-size: bold;
font-size:75px;
text-align:center;
}

p{
font-size:30px;
color:purple;
text-align:center;
}

.button{
	 margin-left: auto;
    margin-right: auto;
    background-color: white;
    color: black;
    text-align: center;
    padding: 10px;
    border-radius: 50px;
    font-size: 20x;
    border: 2px solid;
    outline: none;
    cursor: pointer;
    transition: all ease .4s;
}
.button:hover {
    background-color: green;
    border: 5px solid black;
}
body{
	background-color:#eea1a1;
}
body h3{
	margin: 0px;
}
.main-section{
	background-color:#fff;
	padding:30px 15px;
}
.rating-part-left h1{
	font-size:75px;
	margin:0px;
	color: #8EBF1D;
}
.rating-part-left i{
	font-size:22px;
	padding:2px;
	color:#FDC91B;
}
.rating-part-left p{
	font-size:18px;
	color:#504F55;
}
.progress{
	background: #f1f1f1;
	box-shadow: none;
	border-radius: 0px;
	margin:7px 0px;
}
.progress .progress-bar{
	background: #8EBF1D;
}
.rating-part-right i,.review-part-right i{
	font-size: 20px;
	padding:4px 0px;
	color:#FDC91B;
}
.rating-part-right span{
	color:#8EBF1D;
	font-size:17px;
	padding-left: 5px;
}
.review-section{
	padding: 0px 15px;
}
.review-part-left img{
	height:75px;
	width:75px;
	border-radius: 50%;
	border:2px solid #8EBF1D;
}
.review-part-left p{
	margin:0px;
	font-size:17px;
	color:#B3B5B4;
}
.review-part-left span{
	font-size:19px;
}
.review-part-left small{
	color:#B3B5B4;
}
.review-part-right p{
	font-size: 18px;
	color:#919191;
}

.Avis{
	display:flex;
	justify-content: center;
}

.review{
	display:flex;
	font-size:20px;
color:green;
align-items:flex-start;
	flex-direction:column;
}
.rate {
    display: flex;
    justify-content:center;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

.reviewTextInput {
	display:flex;
    width: 100%;
    height:300px;
}

.boutonSubmit{
	display:flex;
	flex-direction:reverse;
}



